@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}

/* Default max-height for larger screens */
.responsive-max-height {
    max-height: 600px;
    overflow-y: auto; /* Scrollable if content exceeds max height */
  }
  
  @media (max-width: 1536px) {
    .responsive-max-height {
      max-height: 500px;
    }
  }

  @media (max-width: 1280px) {
    .responsive-max-height {
      max-height: 400px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .responsive-max-height {
      max-height: 300px;
    }
  }
  
   /* @media (max-width: 768px) {
    .responsive-max-height {
      max-height: 250px;
    }
  } */
  
  @media (min-width: 480px) and (max-width: 767px) {
    .responsive-max-height {
      max-height: 500px;
    }
  } 
  

  /* Hides the scrollbar */
  /* ::-webkit-scrollbar{
    display: none;
} */
  